:root {
	--space-md: 10px;
	--space-lg: 20px;
	--black: rgb(35, 31, 32);
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	color: var(--black);
}
h1, h2, h3, h4, h5, h6, p, pre, ul {
	margin: 0;
	line-height: 1.25;
}

ul {
	padding-left: 20px;
}

li {
	list-style-image: linear-gradient(to right, var(--black) 30%, var(--highlight-color) 30% 70%, var(--black) 70% 100%)
}



h1, h2, h3, h4 {
	letter-spacing: 2px;
}

a {
	font-weight: bold;
	color: var(--black);
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-thickness: 3px;
}

pre {
	background-color: var(--highlight-color);
}

.content {
	/* background-color: lightgoldenrodyellow; */
	max-width: 800px;
	width: 800px;
}

section {
	border-top: 5px dashed var(--black);
}

section:first-child {
	border-top: none
}
.section {
	--highlight-color: lightcyan; 
	min-height: 100vh;
	background-color: peachpuff;
	padding: 0 20px;
}


.section:nth-child(2n) {
	--highlight-color: rgb(200, 241, 200); 
	background-color: pink;
}
.section:nth-child(3n) {
	--highlight-color: lightgoldenrodyellow; 
	background-color: plum;
}

/* spacing */
.padding-md {
	padding: var(--space-md);
}
.padding-lg {
	padding: var(--space-lg);
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap
}

.gap-md {
	gap: var(--space-md);
}

.gap-lg {
	gap: var(--space-lg);
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}
.align-left {
	align-items: flex-start;
}

.border-dark {
	border: 3px solid var(--black);
	border-radius: 5px 100px 100px 5px;
	transition: all 0.5s ease-in-out;
}
.border-dark:hover {
	border-radius: 5px 100px 100px 5px;
}

.background-dark {
	background-color: var(--black);
}


.special {
	font-size: 2.5rem; 
	font-weight: bolder;
	color: var(--highlight-color);
}